*{
    font-size: 18px;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(20, 20, 20);
}
.container {
    background-color: #f5e6d0;
    padding: 30px;
    width: 1000px;
}
.container .menu {
    display: flex;
    justify-content: flex-end;
}
.container .menu a {
    font-size: 20px;
    padding-left: 20px;
    text-decoration: none;
    font-weight: bold;
}
.container .section-container {
    padding-top: 100px;
    display: flex;
    align-items: center;
}
.container .section-container .content div:nth-last-of-type(2) {
    font-weight: bold;
    font-size: 45px;
    color: #21243d;
}
.container .section-container .content div:nth-last-of-type(1) {
    padding-top: 20px;
    color: #21243d;
}
.container .section-container .img-section img {
    margin-left: 80px;
    border-radius: 360px;
    width: 250px;
    box-shadow:  -10px 13px 3px 3px white;
}
.container button {
    background-color: #ff6464;
    color: #f5e6d0;
    border: none;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5px;
}